<h1>Nuevo producto</h1>

<% form_for(@producto) do |f| %>
  <%= f.error_messages %>

 	<%= render :partial => "forma", :locals => {:f => f}  %>

  <p>
    <%= f.submit 'Guardar' %>
  </p>
<% end %>

<%= link_to 'Regresar', productos_path %>